<template>
  <div class="bg-slate-200">
    <div class="container mx-auto pt-4 w-2/3">
      <div class="bg-white shadow rounded-lg mb-4">
        <div class="flex justify-between items-center p-4">
          <div class="font-semibold">
            Safe Swap Pool Formatter & Deployer
          </div>
          <div class="text-sm">
            <select 
                class="block appearance-none w-full text-sm border border-gray-400 py-2 px-4 pr-8 rounded-md focus:outline-none" 
                v-model="chain"
                @change="changeNetworks"
            >
                <option :value="network.chain" v-for="network in networks" :key="network.chainId">
                  {{ network.chainName }}
                </option>
            </select>
          </div>
        </div>
        <div class="border-t border-gray-300 p-4 bg-slate-100">
          <div class="flex justify-between items-center">
            <div class="flex items-center">
              <div class="text-sm text-gray-700">
                Current Network Block: <span class="font-bold">{{ currentBlock }}</span>
              </div>
              <div class="ml-4">
                <button
                  type="button" 
                  class="focus:outline-none rounded-md bg-blue-500 hover:bg-blue-600 text-xs text-white px-4 py-2 font-semibold" 
                  @click="getCurrentBlock"
                >
                  Update Block
                </button>
              </div>
            </div>
            <div>
              <select 
                  class="block appearance-none w-full text-sm border border-gray-400 py-2 px-4 pr-8 rounded-md focus:outline-none" 
                  v-model="blockDelayMinutes"
                  @change="setBlockDelay"
              >
                <option value="10">10 Minute Start Block Delay</option>
                <option value="60">1 Hour Start Block Delay</option>
                <option value="180">3 Hours Start Block Delay</option>
                <option value="360">6 Hours Start Block Delay</option>
              </select>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-200">
          <div class="px-4 py-3 grid grid-cols-3 gap-4">
            <div class="col-span-2">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Staked Token Address
              </label>
              <input 
                type="text" 
                class="block appearance-none border border-gray-200 rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                v-model="stakedTokenAddress"
                style="padding-top: 0.6rem; padding-bottom: 0.7rem;" 
                @change="generateStakedTokenDecimals" 
              />
            </div>
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Staked Token Decimals
              </label>
              <select
                v-model="stakedTokenDecimals"
                class="block appearance-none w-full border border-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:border-gray-500 rounded py-2 px-3"
              >
                <option :value="decimal" v-for="decimal in 18">{{ decimal }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-200">
          <div class="px-4 py-3 grid grid-cols-3 gap-4">
            <div class="col-span-2">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Reward Token Address
              </label>
              <input
                type="text"
                class="block appearance-none border border-gray-200 rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                v-model="rewardTokenAddress"
                style="padding-top: 0.6rem; padding-bottom: 0.7rem;"
                @change="generateRewardTokenDecimals" 
              />
            </div>
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Reward Token Decimals
              </label>
              <select
                v-model="rewardTokenDecimals"
                class="block appearance-none w-full border border-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:border-gray-500 rounded py-2 px-3"
              >
                <option :value="decimal" v-for="decimal in 18">{{ decimal }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-200">
          <div class="px-4 py-3 grid grid-cols-3 gap-4">
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Reward Pool Size
              </label>
              <input
                type="text"
                class="block appearance-none border border-gray-200 rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                v-model="rewardPoolSize"
                style="padding-top: 0.6rem; padding-bottom: 0.7rem;" 
              />
            </div>
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Max Stake Per Address
              </label>
              <input
                type="text" 
                class="block appearance-none border border-gray-200 rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="maxStakePerAddress" 
                style="padding-top: 0.6rem; padding-bottom: 0.7rem;" 
              />
            </div>
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Pool Length (Days)
              </label>
              <input
                type="text" 
                class="block appearance-none border border-gray-200 rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="poolLength" 
                style="padding-top: 0.6rem; padding-bottom: 0.7rem;" 
              />
            </div>
          </div>
        </div>        
        <div class="border-t border-gray-200">
          <div class="px-4 py-3 grid grid-cols-2 gap-4">
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Minimum Lock Time (Hours)
              </label>
              <input
                type="text" 
                class="block appearance-none border border-gray-200 rounded w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="minLockTime" 
                style="padding-top: 0.6rem; padding-bottom: 0.7rem;" 
              />
            </div>
            <div>
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Deposit Fee Percent
              </label>
              <select
                v-model="depositFee"
                class="block appearance-none w-full border border-gray-200 text-gray-700 focus:outline-none focus:bg-white focus:border-gray-500 rounded py-2 px-3"
              >
                <option :value="index" v-for="(fee, index) in 101">{{ index }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto mt-4 pb-6 w-2/3">
      <div class="bg-white shadow overflow-hidden rounded-lg p-4">
        <div v-if="!address">
          <button
            type="button" 
            class="focus:outline-none rounded-md bg-blue-500 hover:bg-blue-600 text-xs text-white px-4 py-2 font-semibold mb-4" 
            @click="connectWallet"
          >
            Connect Metamask
          </button>
        </div>
        <div class="mb-4 text-xs" v-else>
          <div class="flex justify-between items-center">
            <div class="flex rounded-md shadow-sm">
              <div class="relative flex flex-grow items-stretch focus-within:z-10 text-xs">
                <input type="text" v-model="poolContractAddress" class="block w-96 rounded-none rounded-l-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 text-xs" placeholder="Pool Contract Address" disabled>
              </div>
              <button
                type="button"
                :disabled="!poolContractAddress"
                class="relative -ml-px inline-flex items-center space-x-2 rounded-r-md border border-gray-300 bg-gray-50 px-4 py-2 text-xs font-semibold text-gray-700 hover:bg-gray-100 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 disabled:text-gray-300"
                @click="deployPool"
              >
                <span>Deploy</span>
              </button>
            </div>
            <div>
              {{ condenseAddress }}
            </div>
          </div>
          <div class="mt-4" v-if="success && txHash">
            Success: Transaction hash <a :href="getUrl(txHash)" class="underline font-semibold">{{ txHash }}</a>
          </div>
        </div>
        <table class="table-auto w-full text-sm">
          <tbody>
            <tr>
              <td class="border border-gray-200 px-4 py-2 w-1/4">_stakedToken</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ stakedTokenAddress }}</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border border-gray-200 px-4 py-2">_rewardToken</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ rewardTokenAddress }}</td>
            </tr>
            <tr>
              <td class="border border-gray-200 px-4 py-2">_rewardPerBlock</td>
              <td class="border border-gray-200 px-4 py-2">{{ generateRewardPerBlock }}</td>
              <td class="border border-gray-200 px-4 py-2 text-right">{{ rewardPerBlockEther }}</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border border-gray-200 px-4 py-2">_startBlock</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ generateStartBlock }}</td>
            </tr>
            <tr>
              <td class="border border-gray-200 px-4 py-2">_bonusEndBlock</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ generatePoolLengthInBlocks }}</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border border-gray-200 px-4 py-2">_poolLimitPerUser</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ generateMaxStakePerAddress }}</td>
            </tr>
            <tr>
              <td class="border border-gray-200 px-4 py-2">_stakedTokenTransferFee</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">0</td>
            </tr>
            <tr class="bg-gray-100">
              <td class="border border-gray-200 px-4 py-2">_depositFee</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ generateDepositFee }}</td>
            </tr>
            <tr>
              <td class="border border-gray-200 px-4 py-2">_withdrawalInterval</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">{{ generateMinLockTime }}</td>
            </tr>
            <tr>
              <td class="border border-gray-200 px-4 py-2">_admin</td>
              <td colspan="2" class="border border-gray-200 px-4 py-2">0x93c98931d0632Bf9C1a402E971d5eAbA8414C32c</td>
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import { ethers } from 'ethers';
  import providers from './lib/chains.js';

  const abi = [
    {
      constant: true,
      inputs: [],
      name: "decimals",
      outputs: [
          {
            internalType: "uint8",
            name: "",
            type: "uint8",
          },
      ],
      stateMutability: "view",
      type: "function"
    }
  ];
  
  export default {
    components: {},

    data() {
      return {
        chain: 'binance-smart-chain',
        network: {},
        networks: [],
        currentBlock: 0,
        blockDelay: 200,
        blockDelayMinutes: 10,
        stakedTokenAddress: "",
        stakedTokenDecimals: 18,
        rewardTokenAddress: "",
        rewardTokenDecimals: 18,
        rewardPoolSize: 0,
        maxStakePerAddress: 0,
        minLockTime: 1,
        poolLength: 1,
        depositFee: 0,
        poolContractAddress: '',
        chainId: 0,
        address: '',
        success: false,
        txHash: ''
      }
    },

    created() {
      this.getNetworks();
    },

    mounted() {
      this.getCurrentBlock();
      this.initializeWallet();
    },

    computed: {
      generateDepositFee: function () {
        return this.depositFee * 100;
      },

      generateStartBlock: function () {
        if(this.currentBlock) {
          return parseInt(this.currentBlock) + parseInt(this.blockDelay);
        }
      },

      generateMaxStakePerAddress: function () {
        if(this.maxStakePerAddress) {
          return ethers.utils.parseUnits(this.maxStakePerAddress.toString(), this.stakedTokenDecimals).toString();
        }
      },

      generateMinLockTime: function () {
        if(this.minLockTime) {
          return parseFloat(this.minLockTime) * 60 * 60;
        }

        return 0;
      },

      generatePoolLengthInBlocks: function () {
        const blocksPerDay = (60 / this.network.avgBlockSeconds) * 60 * 24;

        const startBlock = parseInt(this.currentBlock) + parseInt(this.blockDelay);

        if(this.poolLength) {
          return (parseInt(this.poolLength) * parseInt(blocksPerDay)) + startBlock;
        }

        return startBlock;
      },

      generateRewardPerBlock: function () {
        const blocksPerDay = (60 / this.network.avgBlockSeconds) * 60 * 24;

        const startBlock = parseInt(this.currentBlock) + parseInt(this.blockDelay);

        if(this.stakedTokenAddress && this.poolLength && this.rewardPoolSize) {
          let endBlock = (parseInt(this.poolLength) * parseInt(blocksPerDay)) + startBlock;

          let totalBlocks = endBlock - startBlock;

          let reward = parseFloat(this.rewardPoolSize / totalBlocks).toFixed(this.rewardTokenDecimals);

          let parsedReward = ethers.utils.parseUnits(reward.toString(),this.rewardTokenDecimals).toString();

          this.rewardPerBlockEther = ethers.utils.formatEther(parsedReward);

          return parsedReward;
        }

        return 0;
      },

      condenseAddress: function () {
        return this.address.substr(0,6)+'...'+this.address.substr(this.address.length - 6)
      }
    },

    methods: {
      getNetworks: function () {
        this.networks = providers.getNetworks();
      },

      getCurrentBlock: async function () {
        const network = providers.getNetworkDetails(this.chain);

        this.network = network;

        const provider = new ethers.providers.JsonRpcProvider(network.rpcUrl, { chainId: network.chainId });

        let currentBlock = await provider.getBlockNumber();

        this.currentBlock = currentBlock;
      },

      generateStakedTokenDecimals: async function () {
        if(ethers.utils.isAddress(this.stakedTokenAddress)) {
          const network = providers.getNetworkDetails(this.chain);

          const provider = new ethers.providers.JsonRpcProvider(network.rpcUrl, { chainId: network.chainId });

          const tokenContract = new ethers.Contract(this.stakedTokenAddress, abi, provider);

          const decimals = await tokenContract.decimals();

          this.stakedTokenDecimals = decimals;
        }
      },

      generateRewardTokenDecimals: async function () {
        if(ethers.utils.isAddress(this.rewardTokenAddress)) {
          const network = providers.getNetworkDetails(this.chain);

          const provider = new ethers.providers.JsonRpcProvider(network.rpcUrl, { chainId: network.chainId });

          const tokenContract = new ethers.Contract(this.rewardTokenAddress, abi, provider);

          const decimals = await tokenContract.decimals();

          this.rewardTokenDecimals = decimals;
        }
      },

      changeNetworks: function () {
        this.setBlockDelay();
        this.getCurrentBlock();
      },

      setBlockDelay: function () {
        this.blockDelay = (60 / this.network.avgBlockSeconds) * this.blockDelayMinutes;
      },

      initializeWallet: function () {
        const { ethereum } = window;

        if(Boolean(ethereum && ethereum.isMetaMask)) {
          ethereum.on('accountsChanged', (accounts) => {
              this.getMetamaskAccount();
          });

          ethereum.on('chainChanged', (chainId) => {
              this.chainId = parseInt(chainId, 16);

              this.getMetamaskAccount();
          });

          this.getMetamaskAccount();
        }
      },

      connectWallet: async function () {
        try {
          await ethereum.request({ method: 'eth_requestAccounts' });

          this.getMetamaskAccount();
        } catch (e) {
          console.log(e);
        }
      },

      getMetamaskAccount: async function () {
        const { ethereum } = window;

        const accounts = await ethereum.request({ method: 'eth_accounts' });

        if(accounts.length > 0) {
          this.address = accounts[0];
          this.poolContractAddress = this.network.poolContractAddress;
        }
      },

      deployPool: async function () {
        const { ethereum } = window;

        const provider = new ethers.providers.Web3Provider(ethereum);
        const signer = provider.getSigner();

        const contract = new ethers.Contract(this.network.poolContractAddress, this.network.poolContractAbi, signer);

        const receipt = await contract.deployPool(
          this.stakedTokenAddress,
          this.rewardTokenAddress,
          this.generateRewardPerBlock,
          this.generateStartBlock,
          this.generatePoolLengthInBlocks,
          this.generateMaxStakePerAddress,
          0,
          this.generateDepositFee,
          this.generateMinLockTime,
          "0x93c98931d0632Bf9C1a402E971d5eAbA8414C32c"
        );

        if(receipt) {
          this.success = true;
          this.txHash = receipt.hash;
        }
      },

      getUrl: function (txHash) {
        return `${this.network.explorer}/tx/${txHash}`
      }
    }
  }
</script>
